// lapis HEX
$lapis: #5854e5;
$lapis-alt: #4f3ad0;
$lapis-tint: #ddddf7;

// lapis RGBA
$lapis-rgba: rgba(88, 83, 229, 1);
$lapis-alt-rgba: rgba(79, 58, 208, 1);
$lapis-tint-rgba: rgba(221, 221, 247, 1);

// emerald HEX
$emerald: #39D884;
$emerald-alt: #4DDE95;
$emerald-tint: #CDF2DC;
$emerald-hover: #3BE758;

// emerald RGBA
$emerald-rgba: rgba(57, 216, 132, 1);
$emerald-alt-rgba: rgba(77, 222, 149, 1);
$emerald-tint-rgba: rgba(205, 242, 220, 1);
$emerald-hover-rbga: rgba(59, 231, 88, 1);

// charcoal HEX
$charcoal: #2d2e33;

// charcoal RGBA
$charcoal-rgba: rgba(45, 46, 51, 1);

// aqua HEX
$aqua: #5bb0e3;
$aqua-tint: #d2e7f5;
$aqua-hover: #67C0F6;

// aqua RGBA
$aqua-rgba: rgba(91, 176, 227, 1);
$aqua-tint-rgba: rgba(210, 231, 245, 1);
$aqua-hover-rgba: rgba(103, 192, 246, 1);

// cool grey HEX
$cool-grey: #f0f0f4;

// cool grey RGBA
$cool-grey-rgba: rgba(240, 240, 244, 1);

// extra UI colours HEX
$light-grey: #e6ebef;
$medium-grey: #bfc9d4;
$semi-dark-grey: #8f9eaa;
$dark-grey: #697786;
$placeholder-grey: #b6c2ce;
$navy-blue: #275f92;

// extra UI colours RGBA
$light-grey-rgba: rgba(230, 235, 239, 1);
$medium-grey-rgba: rgba(191, 201, 212, 1);
$semi-dark-grey: rgba(143, 158, 170, 1);
$dark-grey-rgba: rgba(96, 121, 144, 1);
$placeholder-grey: rgba(182, 194, 206, 1);
$navy-blue-rgba: rgba(39, 95, 146, 1);

// UI Red
$red: #e55353;
$red-hover: #F65E5E;

// UI Red
$red-rgba: rgba(229, 83, 83, 1);
$red-hover-rgba: rgba(246, 94, 94, 1);

// UI Pink
$pink: #F7DDE1;
$light-pink: #FBF0F2;

// UI Orange
$orange: #e5ac53;
$orange-rgba: rgba(229, 172, 83, 1);
$orange-rgba: rgba(229, 172, 83, 1);
