@import 'main';

@mixin extras () {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}
.destructive-small {
  @include smallBtn('destructive');
  @include extras();
}
.neutral-small {
  @include smallBtn('neutral');
  @include extras();
}
.positive-small {
  @include smallBtn('positive');
  @include extras();
}
.disabled-small {
  @include smallBtn('disabled');
  @include extras();
}

.destructive-large {
  @include largeBtn('destructive');
  @include extras();
}
.neutral-large {
  @include largeBtn('neutral');
  @include extras();
}
.positive-large {
  @include largeBtn('positive');
  @include extras();
}
.disabled-large {
  @include largeBtn('disabled');
  @include extras();
}



.destructive-medium {
  @include mediumBtn('destructive');
  @include extras();
}
.neutral-medium {
  @include mediumBtn('neutral');
  @include extras();
}
.positive-medium {
  @include mediumBtn('positive');
  @include extras();
}
.disabled-medium {
  @include mediumBtn('disabled');
  @include extras();
}